body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.header {
    display: flex;
    background-color: rgb(38, 38, 61);
    padding: 16px;
    height: 400px;
    color: white;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: auto;
    height: 150px;
}

.container {
    display: flex;
    flex-direction: column;
}