body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 18px;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 16px;
    height: 400px;
    justify-content: center;
    align-items: center;
}



img {
    width: 400px;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
}

.wrapper {
    display: flex;
}

button {
    background-color: #3882F6;
    width: 75px;
    color: #F9FAF8;
    font-weight: 700;
}

.HeroMain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.HeroSecondary,
ul {
    font-size: 18px;
    color: #E5E7EB;
}