body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.header-top,
.header-bottom {
    display: flex;
    background-color: darkblue;
    color: white;
}

.header-top {
    justify-content: space-evenly;
    padding: 16px;
}